# QUESTION 1
Consider the following Python module

In [6]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

# Execute b() three times
b()
b()
b()

a

6

# QUESTION 2
Function fileLength

In [13]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            return len(infile.read())
    except FileNotFoundError:
        print(f"File {filename} not found.")

print(fileLength('midterm.py'))  # Replace with an actual filename that exists
print(fileLength('idterm.py'))    # Replace with a filename that does not exist

File midterm.py not found.
None
File idterm.py not found.
None

# QUESTION 3 
Write a class named Marsupial that can be used

In [16]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  
        self.x = x  
        self.y = y  

    def jump(self, dx, dy):
        self.x += dx  
        self.y += dy  

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"



if __name__ == "__main__":
    m = Marsupial()
    m.put_in_pouch('doll')
    m.put_in_pouch('firetruck')
    m.put_in_pouch('kitten')
    print(m.pouch_contents())  

    k = Kangaroo(0, 0)
    print(k) 
    k.put_in_pouch('doll')
    k.put_in_pouch('firetruck')
    k.put_in_pouch('kitten')
    print(k.pouch_contents())  
    k.jump(1, 0)
    k.jump(1, 0)
    k.jump(1, 0)
    print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# QUESTION 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x

In [19]:
def collatz(x):
    
    print(x)
    
    if x == 1:
        return
    elif x % 2 == 0:  
        collatz(x // 2)
    else: 
        collatz(3 * x + 1)
if __name__ == "__main__":
    collatz(1)   
    print()      
    collatz(10)

1

10
5
16
8
4
2
1

# QUESTION 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [22]:
def binary(n):
    if n == 0:
        print(0, end='')
        return
    elif n == 1:
        print(1, end='')
        return
    else:
        binary(n // 2)  
        print(n % 2, end='')  

if __name__ == "__main__":
    print("Binary representation of 0:")
    binary(0) 
    print("\nBinary representation of 1:")
    binary(1)  
    print("\nBinary representation of 3:")
    binary(3)  
    print("\nBinary representation of 9:")
    binary(9)

Binary representation of 0:
0
Binary representation of 1:
1
Binary representation of 3:
11
Binary representation of 9:
1001

# QUESTION 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document

In [11]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.current_heading = None  

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_heading = int(tag[1])  

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.current_heading = None

    def handle_data(self, data):
        if self.current_heading is not None:
            print(' ' * (self.current_heading - 1) + data.strip())

content = """
<h1>W3C Mission</h1>
<p>The mission of the W3C is to lead the Web to its full potential.</p>
<h2>Principles</h2>
<h3>Open Standards</h3>
<h3>Privacy and Security</h3>
"""


hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles
  Open Standards
  Privacy and Security

# QUESTION 7
Implement recursive function

In [27]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return

    # Print the current URL with the appropriate indentation
    print(' ' * indent + url)
    
    try:
        # Send a GET request to the URL and get the page content
        response = requests.get(url)
        response.raise_for_status()  # Check if the request was successful
    except (requests.exceptions.MissingSchema, requests.exceptions.ConnectionError):
        return  # Skip if the URL is not accessible or invalid

    # Parse the page content with BeautifulSoup
    soup = BeautifulSoup(response.text, 'html.parser')

    # Loop through all the anchor tags to get the href attribute
    for link in soup.find_all('a', href=True):
        href = link.get('href')
        # Check if the href is a valid and absolute URL
        if not href.startswith('http'):
            continue

        # Call the webdir function recursively with reduced depth and increased indentation
        webdir(href, depth - 1, indent + 1)

# Example usage:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

HTTPError: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# QUESTION 8 
Write SQL queries on the below database table

In [35]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cur = conn.cursor()

# Create Weather table
cur.execute('''CREATE TABLE Weather (
                   City TEXT,
                   Country TEXT,
                   Season TEXT,
                   Temperature REAL,
                   Rainfall REAL)''')

# Insert data into Weather table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5),
    ('London', 'UK', 'Winter', 4.2, 207.7),
    ('London', 'UK', 'Spring', 8.3, 169.6),
    ('London', 'UK', 'Summer', 15.7, 157.0),
    ('London', 'UK', 'Fall', 10.4, 218.5),
]
cur.executemany("INSERT INTO Weather VALUES (?, ?, ?, ?, ?)", data)
conn.commit()

# Execute SQL queries

# a) All the temperature data
print("a) All the temperature data:")
for row in cur.execute("SELECT Temperature FROM Weather"):
    print(row[0])
print()

# b) All the cities, but without repetition
print("b) All the cities, but without repetition:")
for row in cur.execute("SELECT DISTINCT City FROM Weather"):
    print(row[0])
print()

# c) All the records for India
print("c) All the records for India:")
for row in cur.execute("SELECT * FROM Weather WHERE Country = 'India'"):
    print(row)
print()

# d) All the Fall records
print("d) All the Fall records:")
for row in cur.execute("SELECT * FROM Weather WHERE Season = 'Fall'"):
    print(row)
print()

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in cur.execute("""
    SELECT City, Country, Season
    FROM Weather
    WHERE Rainfall BETWEEN 200 AND 400
"""):
    print(row)
print()

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in cur.execute("""
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall' AND Temperature > 20
    ORDER BY Temperature ASC
"""):
    print(row)
print()

# g) The total annual rainfall for Cairo
print("g) The total annual rainfall for Cairo:")
for row in cur.execute("""
    SELECT SUM(Rainfall)
    FROM Weather
    WHERE City = 'Cairo'
"""):
    print(row[0])
print()

# h) The total rainfall for each season
print("h) The total rainfall for each season:")
for row in cur.execute("""
    SELECT Season, SUM(Rainfall)
    FROM Weather
    GROUP BY Season
"""):
    print(row)
print()

# Close the connection
conn.close()

a) All the temperature data:
24.8
28.4
27.9
27.6
13.6
20.7
27.7
22.2
4.2
8.3
15.7
10.4

b) All the cities, but without repetition:
Mumbai
Cairo
London

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('London', 'UK', 'Fall', 10.4, 218.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'UK', 'Winter')
('London', 'UK', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo:
27.6

h) The total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# QUESTION 9 
Definition of listof words

In [38]:
# Given list of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words = [word.upper() for word in words]
print("a)", uppercase_words)

lowercase_words = [word.lower() for word in words]
print("b)", lowercase_words)

word_lengths = [len(word) for word in words]
print("c)", word_lengths)

word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)", word_details)

long_words = [word for word in words if len(word) >= 4]
print("e)", long_words)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']